body{
    background-color:white;
    font-family: Lato, sans-serif;
    width: 100%;
    margin: 0;
}

.bg-page1{
    z-index: 0;
    position: relative;
    background-image:  url('../images/bg-2.png');
    background-size:cover;                 
    background-repeat: no-repeat;
    background-position: center center;          
    -webkit-print-color-adjust: exact;
    height: 770px;
}

.badge{
    position: relative;
    z-index: 1;
}

.line-top{
    border-top: 1px solid #00293f;
    margin-left: -2%;
    width: 104%;
}

.line-btm{
    border-bottom: 1px solid #00293f;
    margin-left: -2%;
    width: 104%;
}

.line-right{
    border-left: 1px solid #00293f;
    position: absolute;
    right: 0;
    height: 100%;
    z-index: 0;
    top: 0;
}

.line-img{
    border-left: 1px solid #00293f;
    position: absolute;
    left: 50%;
    height: 100%;
    z-index: 0;
}

.line-lblue{
    border: 1px solid #389cac;
    width: 100%;
}

.line-dblue{
    border: 1px solid #00293f;
    width: 100%;
}

.line-width{
    width: 89%;
    margin-left: auto;
    margin-right: auto;
}

.orange-ol{
    border: 1px solid #f05323;
    padding: 10px 20px 0 20px;
    background-color: white;
    position: relative;
}

.info-head{
    background-color: #00293f;
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    font-weight: 700;
}

.info-head::before{
    position: absolute;
    z-index: 1;
    bottom: -10px;
    left:50%;
    margin-left: -10px;
    content:"";
    display:block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #00293f; 
    }

.info-head2{
    background-color: #00293f;
    color: white;
    font-size: 16px;
    padding: 10px 15px 10px 35px;
    font-weight: 700;
}


.info-head2::before{
    position: absolute;
    z-index: 1;
    bottom: -10px;
    left:50%;
    margin-left: -10px;
    content:"";
    display:block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #00293f; 
}

.outline{
    border: 1px solid #389cac;
    height: 100%;
    padding: 10px 15px;
}

.row .equal{
    display: flex;
    flex-wrap: wrap;
    -webkit-print-color-adjust: exact;
    display: -webkit-flex;
}

.containerw{
    width: 86%;
    margin-left: auto;
    margin-right: auto;
}

.header-container {
    -webkit-print-color-adjust: exact;
    margin: auto;
    color: white;
    height: 100px;
    padding: 0;
    font-size: 12px;
}

.bg-header{
    background-color: #389cac;
}

.suggestions ul li{
    padding: 10px 0 0 0;
}   

.logo{
    height: 60px;
    padding-top: 10px;
    width: auto;
    background-color: white;
}

.cont-logo{
    background-color: white;
    border: 1px solid #00293f;
}

.line{
    width: 100%;
    border-top: 2px solid #00293f;
}

.header-line .dot {
    height: 30px;
    width: 30px;
    background-color: #00293f;
    border-radius: 50%;
    border: 5px solid white;
    display: inline-block;
    z-index: 1;
    position: relative;
    top: -16px;
    left: 50%;
  }


.underline{
    margin-top: -20px;
}
.sub-header {
    font-size: 16px;
    font-family: Verdana, serif;
    color: #4b4a4a;
}

.header-tbl {
    border-spacing: 10px;
    border-collapse: separate;
    color: white;
    font-size: 12px;
    white-space: nowrap;  
    background-color: #389cac;  
}

.m--20{
    margin-top: -20px;
}

h1.heading-1{
    font-size: 24pt;
    color: #389cac;
    font-weight: lighter;
}

.heading-clr{
    color: #389cac;
    font-weight: bold;
}

.heading-2{
    font-size: 18pt;
    color: #389cac;
    font-weight: bold;
}

.text-uppercase{
    text-transform: uppercase;
}

.heading-dim2{
    font-size: 14pt;
}

.bold{
    font-weight: bold;
}

.bg-color-header {
    background-color: #006c99;
    padding: 10px;
    height: 35px;
    margin-bottom: 5px;
    vertical-align: middle;
    font-family: Lato, sans-serif;
    font-size: 10pt;
    color: white;
}

.para{
    font-size: 16px;
}

.para2{
    font-size: 15px;
}

.para-block{
    background-color: #64c8f2;
    color: white;
    padding: 25px;
    font-size: 16px;
}

.header-table {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(184, 174, 174)84, 174, 174);
}

.sum-score{
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;    
}

.heading {
    text-align: left;
    font-size: 24pt;
    font-weight: normal;
}

.heading-text{
    font-size: 18pt;
    font-weight: bold;
    text-align: justify;
}

.heading-dim{
    font-size: 18pt;
}

.dimension-bg{
    background-color: #d6e6f6;
    padding: 10px 0 10px 0;
    width: 100%;

}

.banner{
    background-color: #00293f;
    padding: 10px 0 10px 0;
    width: 100%;
    color: white;
    position: relative;
}

.dim-img{
    height: 100%;

}

.dim-title{
    font-weight: 700;
    position: absolute;
    margin-top: 16px;
    margin-left: 175px;
    z-index: 1;
}

.dim-desc{
    font-weight: normal;
    position: absolute;
    margin-top: 75px;
    margin-left: 150px;
    z-index: 1;
    font-size: 14px;
    width: 50%;
}

img.icon{
    margin-top: 20px;
}

hr.line-d{
    border-top: 1.8px solid lightgrey;
}

.huge{
    font-size: 60pt;
    color: white;
    margin-top: -20px;
}

.info-img{
    height: 100px;
}

.margin-20{
    margin-top: -50px;
    color: white;
}


.d-bg{
    padding: 5px 10px;
    border: 2px solid #389cac;
}

.dbg{
    padding: 5px 10px;
    background-color: #efeeed;
}

.score-num{
    font-size: 35px;
    font-weight: 700;
    
}

.dp-badge{
    height:60px;
    width: 60px;
}

.border-right{
    border-right: 1px solid lightgrey;
}

.border-bottom{
    border-bottom: 1px solid lightgrey;
}

.bd-title{
    font-size: 24px;
    font-weight: 700;
}

.bd-heading{
    font-size: 18px;
    font-weight: 700;
}

.bd-icon{
    height: 85px;
    width: 85px;
}

.sub-icon{
    height: 80px;
    width: 80px;
}

.figure2-border{
    border: 2px solid white;
    border-radius: 25px;
}

.text-justify{
    text-align: justify;
}

.text-right{
    text-align: right;
}

.img_icon{
    height: 125px;
    margin: auto;
}

.icon-insight{
    height: auto;
}
.img1 img{
    width: 100%;
}

.img2 img{
    width: 100%;
    margin-top: 0px;
}

p.caption{
    font-size: 10pt;
    text-align: left;
}

p.caption2{
    font-size: 16px;
    text-align: left;
    
}

.img2 img{
    width: 75px;
    margin-top: 28px;
}



li.borderless{
    border: 0 none;
    background: none;
}

.department-tbl{
    width: 100%;
    text-align: center;
    
}

table.department-tbl th{
    text-align: center;
    color: white;
    font-size: 14px;
    background-color: #006c99;
    padding: 5px;
}

.department-tbl td{
    padding:  5px;
    font-size: 14px;
}

.breakdown-box{
    padding:20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
}

.blue{
    background-color: #35a3d9;
    color: white;
}

.bluee{
    color: #389cac;
}

.black{
    color: black;
}

.white{
    background-color: #d6e6f6;
}
.tbl-foot td{
    border: 2px solid white;
}

.heading-dim{
    font-size: 18pt;
}

.tbl td{
    padding: 5px;
    margin: auto;
}
   

.tbl{
    font-size: 14px;
    border-collapse: collapse;
}

.tbl-no{
    text-align: center;
}

.ss{
    background-color: #f05323;
}

.se{
    background-color: #FFCCBC;
}

.tbl-body td{
    border-bottom: 1px solid #3381ac;

}

.tbl-head td{
    background-color: #00293f;
    color: white;
    text-align: center;
    font-size: 14px;
    border: 1px solid white;
}

.legend {
    background-color: #00293f;
    color: white;
    text-align: center;
    border: 2px solid white;
}

.lgnd {
    background-color: #389cac;
    color: white;
    text-align: center;
    border: 2px solid white;
}

.tbl-lgd td{
    padding: 10px 15px;
    margin: auto;
    border: 1px solid lightgray;
}

.tbl-lgd2{
    width: 100%;
    font-size: 12px;
}

.tbl-lgd2 td{
    padding: 5px 10px;
    margin: auto;
    border: 1px solid white;
}

.abb{
    background-color:#d2dee4;
    text-align: center
}

.g-bg{
    background-color: #389cac;
    padding: 5px 15px;
    color: white
}

#container2{
    height: 235px;
}

.score-category{
    visibility:;
}

.table-1{
    visibility:;
}

.para-block{
    background-color: #64c8f2;
    color: white;
    padding: 25px;
    font-size: 16px;
}

.para-block1{
    background-color: #006c99;
    color: white;
    padding: 2px 25px;
    font-size: 16px;
}

.para-block2{
    background-color: #64c8f2;
    color: white;
    padding: 10px 25px;
    font-size: 16px;
}


.low-sc{
    background-color: white;
    color: black;
    margin-left: 15px;
}

.med-sc{
    background-color: #b1bec5;
    color: black;
}

.high-sc{
    background-color: #5f7e8c;
    color: white;
}

.pr-sc{
    background-color: white;
    color: black;
    border: 1px solid #3381ac;
    font-size: 14px;
}

.ss-sc{
    background-color: #d6e6f6;
    color: black;
    border: 1px solid #3381ac;
    font-size: 14px;
    
}


/* ====================== High Charts ======================*/
.highcharts-figure, .highcharts-data-table table {
    min-width: 310px; 
    max-width: 600px;
    background-color:transparent;
}


.dp-charts{
    min-width: 310px; 
    max-width: 600px;
    background-color:transparent;
}

#container-bar1{
    height: 60px; width: 100%;
    
}

.chart-height{
    height: 60px;
}

.highcharts-figure-stack, .highcharts-data-table table {
    min-width: 310px; 
    max-width: 900px;
    background-color:transparent;
}

#container-stack {
    height:710px;
    background-color:transparent;
}

.highcharts-data-table table {
	font-family: Roboto, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

#container1 {
    width: 420px;
    margin: 20px auto;
  }


#container-donut{
    height:100% ;
    width: 200px;
    overflow: hidden;
}

#container-donut7,#container-donut8,#container-donut9, #container-donut10,#container-donut11,#container-donut12,#container-donut13,#container-donut14,
#container-donut15,#container-donut16 , #container-donut17{
    height:100% ;
    width: 200px;
    overflow: hidden;
}

/* ============= Footer =========================== */ 
.footer {
    height: 60px;
    width: 100%;
   -webkit-print-color-adjust: exact;
    position: fixed ;
    bottom:0;
    left: 0;
}

.footer-text {

    color: white;
    font-size: 10px;
    text-transform: uppercase;
}

.footer-logo-style {
    line-height: 49px;
}

.text-heading{
    font-size:22px ;
}

.footer-bg{
    background-color: #00293f !important;
    -webkit-print-color-adjust: exact;

}


.department-tbl{
    width: 100%;
    text-align: center;
    
}

.department-tbl th{
    text-align: center;
    color: white;
    font-size: 12pt;
    background-color: #006c99;
    padding: 10px 5px;
}

.department-tbl td{
    padding:  5px;
}

.tbl-left {
    text-align: left !important;
    padding-left: 10px;
}

.score-range img{
    height: 10px;
    margin-left: auto;
    margin-right: auto;
}

.sub-heading{
    font-size: 14pt;
    font-weight: bold;
}

#container-overall{
    height: 420px;
    width: 400px;
    overflow: hidden;
}

.score-txt {
    font-weight: normal; font-size: 10pt;
}

table.def-tbl td{
    padding: 25px;
    border: 1px solid #A1B5D6;
    vertical-align: top;
    
}

.legacy{
    font-size: 10pt;
}

.legacy2 ul li{
    list-style: none;
    text-align: right;
}

.legacy2{
    text-align: right;
}
.top-scores{
    background-color: #A7D9C4; text-align: center; border-radius: 15px;
    font-size: 24px;
}

.score-no{
    font-weight: bolder; font-size: 24pt;
}

.txt-insight{
    font-weight: normal; font-size: 22px;
}

.insight-head{
    font-size: 24pt;
}

.col-in{
    width: 50%;
    padding: 0 20px;
}

.col-ov{
    width: 58.3333%;
    padding: 0 20px;
}

.col-ov2{
    width: 41.6666%;
    padding: 0 20px;
}

img.icon-20{
    height: 100%;
    width: 100%;
}

.b-bg{
    background-color: #227CA2; padding: 20px;
}

/********************* PRINT **********************************/
@page {
    size: a4;
    margin:0;
  }
  @media only print {
    html, body {
        width: 100%;
        height: 95%;
    }

    .heading-2-1{
        font-size: 10pt;
    }

    .highcharts-figure-stack, .highcharts-data-table table {
        width:fit-content;
        margin-left: -5px;
        background-color:transparent;
        margin-right: 50px;
    }
    
    #container-stack {
        height:fit-content;
        background-color:transparent;
    }
    

    .header-tbl {
        font-size: 8pt;
    }

    img.icon{
        margin-top: 28px;
        height: 75px;
        width: 75px;
    }

    .logo{
        height: 70px;
        width: auto;
        padding-left: 15px;
    }

    p.para{
        font-size: 12pt;
    }

    p.para2{
        font-size: 10pt;
    }

    .para-block{
        font-size: 12pt;
    }

    .dim-title{
        margin-top: 20px;
        margin-left: 130px;
        font-size: 11pt;
        font-weight: bolder;
    }

    .dim-desc{
        margin-top: 65px;
        margin-left: 120px;
        font-size: 10pt;
        width: 50%;
    }


    #container-overall{
        height: 420px;
        width:100%;
        overflow: hidden;
        
    }

    #container2{
        height: 216px;
        margin-left:-45px;
    }

    .icon-insight{
        margin-top: 10px;
        height: 22.5px;
    }

    .txt-insight{
        font-weight: normal; font-size: 10pt;
    }

    .insight-head{
        font-size: 18pt;
    }

    .sub-insight{
        font-size: 14pt;
    }

    .container{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    
    .heading-dim2{
        font-size: 14pt;
    }

    img.icon-20{
        height: 100%;
        width: 100%;
        margin-top: 0;
        padding-top: 0;
    }

    .desc{
        position: fixed;
        width: 86%;
        left: 0.95in;
    }

    .desc-space{
        height: 90px;
    }

    .tbl{
        font-size: 8pt;
    }
    
      .pr-sc{
        background-color: white;
        color: black;
        border: 1px solid #3381ac;
        font-size: 8pt;
    }
    
    .ss-sc{
        background-color: #d6e6f6;
        color: black;
        border: 1px solid #3381ac;
        font-size: 8pt;
        
    }

    .para-block{
        font-size: 12pt;
    }

    p.caption{
        font-size: 10pt;
        text-align: left;
    }
    
    #container-bar1{
        height: 60px; width: 220px;
        
    }
    
    
  }

  /********************* PRINT END **********************************/

